html {
  /* 스크롤 이동을 부드럽게 하는 css */
  /* scroll-behavior: smooth; */
}

/* COMMON */
body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
  /* 위 속성들은 모두 상속되기에 전체 스타일을 한번에 제어 */

  overflow-x: hidden;
  /* height: 3000px; */
}

a {
  /* 밑줄 제거 */
  text-decoration: none;
}

.inner {
  /* 가로 너비를 가진 블록 요소에 margin: 0 auto; 를 줄 경우, 부모 범위 안에서 가운데 정렬 */
  max-width: 1100px;  /* 반응형 작업을 위해 */
  margin: 0 auto;
  position: relative;  /* inner div 기준으로 내부 요소를 배치하기 위해 */
}

img {
/* 이미지가 인라인 요소라서 발생하는 문자 기준선(Baseline) 아래의 공간을 제거하기 위해 */
  display: block;
}

/* 전역 버튼 스타일 */
/* 버튼과 같이 여러 곳에서 반복 사용되는 요소를 공통 스타일로 작업하면, 매번 다시 작성할 필요가 없음 */
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  text-align: center;
  cursor: pointer;
  display: block;
  transition: 0.4s;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}
.btn.btn--brown {
  color: #592b18;
  border-color: #592b18;
}
.btn.btn--brown:hover {
  color: #fff;
  background-color: #592b18;
}
.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}
.btn.btn--gold {
  color: #d9aa8a;
  border-color: #d9aa8a;
}
.btn.btn--gold:hover {
  color: #fff;
  background-color: #d9aa8a;
}
.btn.btn--white {
  color: #fff;
  border-color: #fff;
}
.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}

/* 스크롤 시 애니메이션을 공통 스타일로 추가 */
/* BACK TO POSITION */
.back-to-position {
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-left {
  /* 오른쪽에서 왼쪽으로 나타나는 */
  transform: translateX(150px);
}
.back-to-position.to-right {
  /* 왼쪽에서 오른쪽으로 나타나는 */
  transform: translateX(-150px);
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-1 {
  transition-delay: 0.3s;
}
.show .back-to-position.delay-2 {
  transition-delay: 0.6s;
}
.show .back-to-position.delay-3 {
  transition-delay: 0.9s;
}

/* HEADER */
header {
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  /* 고정된 헤더 만들기 */
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
}

header > .inner {
  /* background-color: orange; */
  height: 120px;
}

header .logo {
  /* 로고의 수직 가운데 배치 */
  position: absolute;
  height: 75px;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;

  /* 자식 요소(메뉴와 검색 영역)를 수평 배치 */
  display: flex;
}
header .sub-menu ul.menu {
  /* 메뉴 아이템(li)을 수평 배치 */
  display: flex;
  font-family: Arial, sans-serif;
}
header .sub-menu ul.menu li {
  position: relative;
}
header .sub-menu ul.menu li::before {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child::before {
  /* 첫번째 메뉴 요소의 구분선 숨기기 */
  display: none;
}
header .sub-menu ul.menu li a {
  display: block; /* 상하 여백 적용을 위해 변경 */
  padding: 11px 16px; /* 클릭할 수 있는 영역을 넓혀줌 */
  font-size: 13px;
  color: #656565;
}
header .sub-menu ul.menu li a:hover {
  color: #000;
}
header .sub-menu .search {
  position: relative;
  height: 34px;
}
header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;  /* 보더 바깥쪽 테두리인데 잘 안씀 */
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width 0.4s 
}
header .sub-menu .search input:focus {
  width: 190px;
  border: 1px solid #669900;
}
header .sub-menu .search .material-icons {
  display: block;
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: opacity 0.4s;
}
header .sub-menu .search.focused .material-icons {
  /* 검색창 포커스 시 검색 아이콘 투명화 */
  opacity: 0;
}
header .main-menu {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
header .main-menu .item .item__name {
  display: block;
  padding: 10px 20px 34px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #333;
}
header .main-menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}

header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}
header .main-menu .item:hover .item__contents {
  display: block;
}
header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
}
header .main-menu .item .item__contents .contents__menu > ul {
  display: flex;
  padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li {
  /* 상세 메뉴 가로 너비를 통일 */
  width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  padding: 3px 0 12px;
  font-size: 14px;
  color: #fff;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  color: #690;
}
header .main-menu .item .item__contents .contents__texture {
  padding: 26px 0;
  font-size: 12px;
  background-image: url('../images/main_menu_pattern.jpg');
}
header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 700;
}
header .main-menu .item .item__contents .contents__texture p {
  color: #690;
  margin: 4px 0 14px;
}

/* 전역 배지(고정 배너) */
header .badges {
  position: fixed;
  top: 132px;
  right: 12px;
}
header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  /* x축거리, y축거리, 흐림 처리 범위, 확대/축소 범위, 색상 */
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* VISUAL */
.visual {
  /* (중요) 
    헤더가 fixed 되어 일반 배치 흐름에서 벗어남(요소가 붕 뜸)
    헤더 다음에 오는 섹션은 헤더의 높이만큼 외부 여백 추가 필요
  */
  margin-top: 120px;
  background-image: url("../images/visual_bg.jpg");
  background-position: center;
}
.visual .inner {
  height: 646px;
  /* background-color: orange; */
}
.visual .title {
  position: absolute;
  top: 88px;
  left: -10px;
}
.visual .title .btn {
  position: absolute;
  top: 259px;
  left: 173px;
}
.visual .cup1.image {
  position: absolute;
  bottom: 0;
  right: -47px;
}
.visual .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}
.visual .cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}
.visual .cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}
.visual .spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}
.visual .fade-in {
  /* 투명한 상태에서 시작되도록 세팅 */
  opacity: 0;
}

/* NOTICE */
.notice {
  position: relative;
}
.notice .bg-left {
  width: 50%;
  height: 100%;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
}
.notice .bg-right {
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
  position: absolute;
  top: 0;
  right: 0;
}
.notice .inner {
  height: 62px;
  display: flex;
}
.notice .inner__left {
  /* 비율 나누기 */
  /* width: 70%; */
  flex: 7;
  background-color: #333;
  display: flex;
  align-items: center;
}
.notice .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}
.notice .inner__left .swiper {
  height: 62px;
  flex-grow: 1;  /* 최대한 늘어나도록 지정 */
}
.notice .inner__left .swiper .swiper-slide{
  display: flex;
  align-items: center;
}
.notice .inner__left .swiper .swiper-slide a{
  color: #fff;
}
.notice .inner__left .notice-more {
  width: 62px;
  height: 62px;
  /* 정중앙 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .inner__left .notice-more .material-icons{
  color: #fff;
  font-size: 30px;
}
.notice .inner__right {
  /* 비율 나누기 */
  /* width: 30%; */
  flex: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.notice .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
}
.notice .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.notice .inner__right .toggle-promotion .material-icons {
  font-size: 30px;
}

/* PROMOTION */
.promotion {
  height: 663px;
  background-color: #f6f5ef;
  display: flex;
  justify-content: center;
  position: relative;
  transition: 0.4s;
  overflow: hidden;
}
.promotion.hide {
  /* display 속성을 사용하면 애니메이션 효과 못넣음!! 
    (none -> block 될 때 중간 과정이 없기 때문에)
  */
  /* display: none; */
  height: 0;
}
.promotion .swiper {
  /* 이미지(819px) 슬라이드 3개 && 사이 여백(10px) 2개 = 2477px */
  width: calc(819px * 3 + 10px * 2);
  height: 553px;
  flex-shrink: 0;
}
.promotion .swiper-slide {
  /* 모든 슬라이드는 반투명하게, active 한 것만 불투명하게 
    => 개발자 도구로 클래스값 확인
  */
  opacity: 0.5;
  transition: opacity 1s;
  position: relative;
}
.promotion .swiper-slide-active {
  opacity: 1;
}
.promotion .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.promotion .swiper-pagination {
  position: absolute;
  bottom: 40px;
  z-index: 1;  /* 헤더의 z-index가 9이기 때문에 1로 덮어씀 */
}
.promotion .swiper-pagination .swiper-pagination-bullet {
  /* 기존 배경색은 투명하게 숨기고, 배경 이미지를 사용 */
  background-color: transparent;
  background-image: url('../images/promotion_slide_pager.png');
  width: 13px;
  height: 12px;
}
.promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url('../images/promotion_slide_pager_on.png');
}
.promotion .swiper-button-prev,
.promotion .swiper-button-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  color: #333;
  transition: 0.4s;
}
.promotion .swiper-button-prev {
  /* 가운데로 몰아넣고 마진으로 위치 조정 */
  left: 50%;
  margin-left: -480px;
}
.promotion .swiper-button-next {
  /* 가운데로 몰아넣고 마진으로 위치 조정 */
  right: 50%;
  margin-right: -480px;
}
.promotion .swiper-button-prev:hover, 
.promotion .swiper-button-next:hover {
  background-color: #333;
  color: #fff;
}
.promotion .swiper-button-prev::after, 
.promotion .swiper-button-next::after {
  display: none;
}

/* REWARDS */
.rewards {
  position: relative;
}
.rewards .bg-left {
  width: 50%;
  height: 100%;
  background-color: #272727;
  position: absolute;
  top: 0;
  left: 0;
}
.rewards .bg-right {
  width: 50%;
  height: 100%;
  background-color: #d5c798;
  position: absolute;
  top: 0;
  right: 0;
}
.rewards .inner {
  height: 241px;
  background-image: url('../images/rewards.jpg');
}
.rewards .btn-group {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
  bottom: 24px;
}
.rewards .btn-group .btn.sign-up {
  margin-right: 10px;
}
.rewards .btn-group .btn.sign-in {
  width: 110px;
}
.rewards .btn-group .btn.gift {
  margin-top: 10px;
  flex-grow: 1;  /* Flex Container 내부에서 최대한의 너비를 쓸 수 있도록 */
}

/* YOUTUBE */
.youtube {
  position: relative;
  height: 700px;
  background-color: #333;
  /* 영상 출력 넘치는 부분 숨기기 */
  overflow: hidden;

  /* 정가운데 배치 방법3 */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.youtube .youtube__area {
  /* 유튜브의 표준 영상 비율 16:9 */
  width: 1920px;
  height: 1080px;

  /* 정가운데 배치하는 기술들(3가지) */
  position: absolute;

  /* 방법1 */
  /* 부모의 50% 위치에 배치하고 margin을 이용하여 정가운데로 옮기기 */
  left: 50%;
  top: 50%;
  /* 가로 너비의 절반만큼 땡겨오기 */
  margin-left: calc(1920px / -2);
  /* 세로 너비의 절반만큼 땡겨오기  */
  margin-top: calc(1080px / -2);

  /* 방법2 */
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; */
  
  /* 중복 스타일 변수로 선언 */
  /*  
    너비, 높이를 수정할 경우 총 4곳 수정 필요 => CSS 변수 선언으로 재사용
    2개의 대시(--)기호로 시작하고 원하는 변수명 지정: CSS값
    선언된 변수는 CSS var() 함수를 통해 사용

    활용 예: 주로 색상 지정 시 사용
  */
  /*  
    주의! 자신이 선언된 선택자와 그 하위 요소에서만 유효
    전역 변수로 사용하고 싶으면,
    html {
      --error: red;
    }
    :root {
      --error: red;
    }
  */
  --width: 1920px;
  --height: 1080px;
  width: var(--width);
  height: var(--height);
  margin-left: calc(var(--width) / -2);
  margin-top: calc(var(--height) / -2);
}

#player {
  width: 100%;
  height: 100%;
}

.youtube .youtube__cover {
  /* 화면 전체를 다 덮고 싶을 때 (모달창 활용 가능) */
  /* position: fixed;
  z-index: 99; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url('../images/video_cover_pattern.png');
}
.youtube .inner {
  height: 100%;
}
.youtube .floating1 {
  position: absolute;
  top: 50px;
  left: 0;
}
.youtube .floating2 {
  position: absolute;
  top: 350px;
  left: 150px;
}

/* SEASON PRODUCT */
.season-product {
  background-image: url('../images/season_product_bg.jpg');
}
.season-product .inner {
  height: 400px;
}
.season-product .inner .floating3 {
  position: absolute;
  top: -200px;
  right: 0;
}
.season-product .text-group {
  position: absolute;
  top: 110px;
  right: 100px;
}
.season-product .text-group .title {
  margin-bottom: 10px;
}
.season-product .text-group .description {
  margin-bottom: 15px;
}

/* RESERVE COFFEE */
.reserve-coffee {
  background-image: url('../images/reserve_bg.jpg');
}
.reserve-coffee .inner {
  height: 400px;
}
.reserve-coffee .inner .reserve-logo {
  position: absolute;
  top: 110px;
  left: 0;
}
.reserve-coffee .inner .text-group {
  position: absolute;
  top: 124px;
  left: 208px;
}
.reserve-coffee .inner .product {
  position: absolute;
  top: 0;
  right: 0;
}

/* PICK YOUR FAVORITE */
.pick-your-favorite {
  background-image: url('../images/favorite_bg.jpg');
  /* 배경 이미지에 시차 효과 주기 */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.pick-your-favorite .inner {
  padding: 110px 0;
}
.pick-your-favorite .inner .text-group {
  display: flex;
  flex-wrap: wrap;
  /* 정렬 영역이 충분하면 줄바꿈 되지 않음, 너비를 제한해서 강제로 줄바꿈 */
  width: 362px;
  justify-content: flex-end;
  margin-left: 100px;
}
.pick-your-favorite .inner .text-group .title {
  margin-bottom: 40px;
}
.pick-your-favorite .inner .text-group .description {
  margin-bottom: 40px;
}

/* RESERVE STORE */
.reserve-store {
  background-image: url('../images/reserve_store_bg.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.reserve-store .inner {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reserve-store .medal {
  width: 334px;
  height: 334px;
  /* 회전하는 요소의 부모 요소에 원근 거리를 추가 */
  perspective: 600px;
}
.reserve-store .medal .front, 
.reserve-store .medal .back {
  position: absolute;
  backface-visibility: hidden; /* 회전된 요소의 뒷면을 숨김 */
  transition: 1s;
}
.reserve-store .medal .front {
  transform: rotateY(0deg);
}
.reserve-store .medal:hover .front {
  transform: rotateY(180deg);
}
.reserve-store .medal .back {
  transform: rotateY(-180deg);
}
.reserve-store .medal:hover .back {
  transform: rotateY(0deg);
}
.reserve-store .medal .back .btn {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
}


/* FIND STORE */
.find-store {
  background-image: url('../images/find_store_bg.jpg');
}
.find-store .inner {
  height: 400px;
}
.find-store .texture1 {
  position: absolute;
  top: 0;
  left: 400px;
}
.find-store .texture2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.find-store .picture1 {
  position: absolute;
  top: -60px;
  left: 0;
  border-radius: 50%;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.5);
}
.find-store .picture2 {
  position: absolute;
  top: 150px;
  left: 250px;
  border-radius: 50%;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.5);
}
.find-store .text-group {
  position: absolute;
  top: 120px;
  left: 550px;
}
.find-store .text-group .title {
  margin-bottom: 20px;
}
.find-store .text-group .description {
  margin-bottom: 20px;
}

/* Awards */
.awards {
  background-color: #272727;
}
.awards .inner {
  padding: 40px 0;
}
.awards .swiper {
  width: 100%;
  height: 40px;
}
.awards .swiper-button-prev,
.awards .swiper-button-next {
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  opacity: 0.3;
  position: absolute;
  transition: 0.4s;
}
.awards .swiper-button-prev {
  left: -100px;
}
.awards .swiper-button-next {
  right: -100px;
}
.awards .swiper-button-prev:hover,
.awards .swiper-button-next:hover {
  background-color: #fff;
  color: #333;
}
.awards .swiper-button-prev::after,
.awards .swiper-button-next::after {
  display: none;
}

/* FOOTER */
footer {
  background-color: #272727;
  border-top: 1px solid #333;
}
footer .inner {
  padding: 40px 0 60px;
}
footer .menu {
  display: flex;
  justify-content: center;
}

footer .menu li {
  position: relative;
}
footer .menu li::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  background-color: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
footer .menu li:first-child::before {
  display: none;
}
footer .menu li a {
  display: block;
  padding: 15px;
  color: #ccc;
  font-size: 12px;
  font-weight: 700;
}
footer .menu li a.green {
  color: #690;
}

footer .btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  /* column-gap: 10px; */
}
footer .btn-group .btn {
  font-size: 12px;
}
footer .btn-group .btn + .btn {
  margin-left: 10px;
}

footer .info {
  margin-top: 30px;
  text-align: center;
}
footer .info span {
  color: #999;
  font-size: 12px;
}
footer .info span + span {
  margin-left: 20px;
}

footer .copyright {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}

footer .logo {
  margin: 30px auto 0;
}

/* SCROLL TO TOP */
#to-top {
  width: 42px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  opacity: 0;
}

